<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    {% block style %} {% endblock style%}
    <title>S3 Application</title>
  </head>
  <body>
    <div class="container mt-5">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="messages">
        {% for category, message in messages %}
        <div
          class="
            notification
            {%
            if
            category
            ==
            'error'
            %}is-danger{%
            elif
            category
            ==
            'success'
            %}is-success{%
            endif
            %}
          "
        >
          <button class="delete"></button>
          {{message}}
        </div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %} {% block content %} {% endblock content %}

        <footer class="footer">
            <p class="has-text-centered">v {{ version }}</p>
        </footer>
    </div>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
    crossorigin="anonymous"
  ></script>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      (document.querySelectorAll(".notification .delete") || []).forEach(
        ($delete) => {
          const $notification = $delete.parentNode;

          $delete.addEventListener("click", () => {
            $notification.parentNode.removeChild($notification);
          });
        }
      );
    });
  </script>
  {% block scripts %} {% endblock %}
</html>
